@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,700&display=swap');

body {
    font-family: lato, sans-serif;
    overflow-x: hidden;
    color: #505962;
}
.navbar a {
    color: #ffffff!important;
    margin: 0 20px;
    margin-top: 30px;
}
 .navbar-nav li {
     padding-right: 7rem;
 }
 .navbar-nav li {
     padding-right: .7rem;
 }
 .navbar-dark .navbar-nav .nav-link {
     color: white;
     padding-top: 8rem;
 }
 .navbar-togler {
     color: #ffffff!important;
     border: none!important;
     outline: none!important;
 }
 .navbar-toggler-fa {
     color: #ffffff!important;
     font-size: 26px;
 }
.jumbotron {
    background-image: url("../images/office.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: #83686f;
    border-radius: 0px!important;
}
.jumbotron h1 h2 {
    font-size: 30px;
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}
.intro {
    
    padding-top: 100px;
}
.nav-link-hover {
    font-weight: 600;
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}
#header .btn {
    border: 1px solid blue;
    margin-top: 20px;
    padding: 6px 26px;
    font-size: 16px;
}


 